* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    font-family: 'Poppins', sans-serif;
}

/* Header & Nav */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h1 {
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Marck Script', cursive;
    font-family: 'Clicker Script', cursive;
    font-family: 'Great Vibes', cursive;
    padding-right: 10px;
}

header .logo img {
    height: 50px;
    width: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style: none; 
    margin-right: 30px;
    font-size: 14px;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    color: #7f78d2;
}

/* main content */
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    padding-left: 150px;
    padding-right: 150px;
}

.main-content h1 {
    font-size: 60px;
}

.main-content p {
    font-size: 22px;
}

.main-image img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

/* Buttons */
.main-buttons {
    padding-top: 20px;
    
}

.button {
    padding: 10px;
    margin-right: 10px;
    font-family:  'Poppins', sans-serif;
    background-color: #7f78d2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* About */
.about-section {
    display: flex;
    justify-content: space-around;
    background-color:#C0C0C0;
    align-items: center;
    color: white;
}

.about-content {
    flex: 1;
    justify-content: center;
    padding-left: 100px;
}

.about-pic {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.about-content h1 {
    font-size: 50px;
}

.about-pic img {
    height: 400px;
    width: 400;
    border: 3px whitesmoke;
    border-style: solid;
}

/* Portfolio */
.portfolio-section {
    margin-top: 40px;
}

.portfolio1, .portfolio2, .portfolio3, .portfolio4, .portfolio5, .portfolio6 {
    display: flex;
    justify-content: space-around;
}

.portfolio2, .portfolio3, .portfolio4, .portfolio5, .portfolio6 {
    padding-top: 40px;
}

.portfolio1 img, .portfolio3 img, .portfolio5 img {
    height: 600px;
    width: 400px;
}

.portfolio6 {
    margin-bottom: 40px;
}

/* Footer */
footer {
    align-items: center;
    text-align: center;
    background-color: #C0C0C0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container h1 {
    color: white;    
}

.social-links-container {
    display: flex;
    justify-content: center;
}

.social-links {
    display: flex;
}

.social-links li {
    list-style: none; 
    margin-right: 30px;
    font-size: 14px;
}

.social-links a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    color: #7f78d2;
}

/* Media Queries */
@media only screen and (max-width: 1300px) {
    .main {
        padding: 0px;
    }
}
@media only screen and (max-width: 1024px) {
    header, .main, .main-content, .about-section {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
    } 

    .main {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .main-image {
        margin-top: 20px;
        padding-top: 20px;
    }

    .about-section {
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .portfolio-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .portfolio2, .portfolio3, .portfolio4, .portfolio5, .portfolio6 {
        padding-top: 0px;
    }

    .portfolio-section, .portfolio1, .portfolio2, .portfolio3, .portfolio4, .portfolio5, .portfolio6 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .portfolio1 img, .portfolio2 img, .portfolio3 img, .portfolio4 img, .portfolio5 img, .portfolio6 img {
        padding: 10px;
    }
    
    .about-content {
        padding: 0px;
    }
    header .logo h1 {
        font-size: 40px;
    }
    .nav-links li {
        font-size: 22px;
    }
    .main-content h1 {
        font-size: 40px;
    }
    .main-content p {
        font-size: 19px;
    }
}
